.page-title {
  margin-bottom: 30px;
  margin-left: 50px;
}

.order-details-card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
  width: 900px;
}

.order-details-label {
  align-items: center;
  background-color: #b1c2be;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 5px;
}

/* padding: [top] [right] [bottom] [left]; */
.status-details {
  border-radius: 5px;
  font-weight: 700;
  margin-left: 20px;
  padding: 5px 30px;
  text-transform: uppercase;
}

.pending {
  background-color: #ccb800;
}

.preparing {
  background-color: #6c0;
}

.dispatch {
  background-color: rgb(255, 185, 56);
}

.delivered {
  background-color: #00cc9b;
}

.order-id {
  margin-left: 16px;
}

.date-details {
  margin-left: 20px;
}

.seller-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.preparing-order {
  background-color: #2fc18c;
  border-radius: 5px;
  border-style: none;
  color: #e5e5e5;
  cursor: pointer;
  padding: 5px 20px;
  text-transform: uppercase;
}

.preparing-order:disabled {
  background-color: gray;
  color: lightgray;
  cursor: auto;
}

.button-order {
  background-color: #036b52;
  border-radius: 5px;
  border-style: none;
  color: #e5e5e5;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
}

.button-order:disabled {
  background-color: gray;
  color: lightgray;
  cursor: auto;
}

.order-total {
  align-items: center;
  background-color: #036b52;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-left: 580px;
  margin-top: 300px;
  padding: 5px;
  width: 300px;
}
